[ius]
name=IUS Community Packages for Enterprise Linux {{ansible_distribution_major_version|int}} - $basearch
baseurl=http://mirror.rackspace.com/ius/stable/Redhat/{{ansible_distribution_major_version|int}}/$basearch
        http://dl.iuscommunity.org/pub/ius/stable/Redhat/{{ansible_distribution_major_version|int}}/$basearch
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/IUS-COMMUNITY-GPG-KEY

[ius-debuginfo]
name=IUS Community Packages for Enterprise Linux {{ansible_distribution_major_version|int}} - $basearch - Debug
baseurl=http://mirror.rackspace.com/ius/stable/Redhat/{{ansible_distribution_major_version|int}}/$basearch/debuginfo
        http://dl.iuscommunity.org/pub/ius/stable/Redhat/{{ansible_distribution_major_version|int}}/$basearch/debuginfo
enabled=0
gpgkey=file:///etc/pki/rpm-gpg/IUS-COMMUNITY-GPG-KEY
gpgcheck=1

[ius-source]
name=IUS Community Packages for Enterprise Linux {{ansible_distribution_major_version|int}} - $basearch - Source
baseurl=http://mirror.rackspace.com/ius/stable/Redhat/{{ansible_distribution_major_version|int}}/SRPMS
        http://dl.iuscommunity.org/pub/ius/stable/Redhat/{{ansible_distribution_major_version|int}}/SRPMS
enabled=0
gpgkey=file:///etc/pki/rpm-gpg/IUS-COMMUNITY-GPG-KEY
gpgcheck=1
