[ius-dev]
name=IUS Community Packages for Enterprise Linux 7 - $basearch - Dev
baseurl=http://mirror.rackspace.com/ius/development/CentOS/7/$basearch
        http://dl.iuscommunity.org/pub/ius/development/CentOS/7/$basearch
failovermethod=priority
enabled=0
gpgcheck=0
gpgkey=file:///etc/pki/rpm-gpg/IUS-COMMUNITY-GPG-KEY

[ius-dev-debuginfo]
name=IUS Community Packages for Enterprise Linux 7 - $basearch - Dev Debug Info
baseurl=http://mirror.rackspace.com/ius/development/CentOS/7/$basearch/debuginfo
        http://dl.iuscommunity.org/pub/ius/development/CentOS/7/$basearch/debuginfo
failovermethod=priority
enabled=0
gpgcheck=0
gpgkey=file:///etc/pki/rpm-gpg/IUS-COMMUNITY-GPG-KEY

[ius-dev-source]
name=IUS Community Packages for Enterprise Linux 7 - $basearch - Dev Source
baseurl=http://#{mirror}/ius/development/CentOS/7/SRPMS
        http://dl.iuscommunity.org/pub/ius/development/CentOS/7/SRPMS
failovermethod=priority
enabled=0
gpgcheck=0
gpgkey=file:///etc/pki/rpm-gpg/IUS-COMMUNITY-GPG-KEY
