
user  {{ nginx_user }};
worker_processes  {{ ansible_processor_vcpus }};

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;


events {
    worker_connections  1024;
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    access_log  /var/log/nginx/access.log;

    sendfile        on;
    tcp_nopush     on;
    tcp_nodelay     on;

    keepalive_timeout  65;

    gzip  on;
    gzip_comp_level 2;
    gzip_buffers 16 8k;
    gzip_proxied any;
    gzip_types      text/plain text/html text/css application/x-javascript application/xml application/xml+rss text/javascript application/json;
    gzip_http_version 1.0;
    gzip_disable "msie6";

    # Set real IP addr from Cloud Loud Balancers
    set_real_ip_from 10.183.248.0/22;
    set_real_ip_from 10.183.252.0/23;
    set_real_ip_from 10.190.254.0/23;
    set_real_ip_from 10.189.254.0/23;
    #set_real_ip_from 127.0.0.1;
    real_ip_header X-Forwarded-For;

    upstream php5-fpm-sock {
        server unix:/var/run/php5-fpm.sock;
    }

    include /etc/nginx/conf.d/*.conf;
}
