[Unit]
Description=Sync files and directories
### TODO: Figure out dependencies for this (Probably network deps)
Wants=network.target network-online.target
After=network.target network-online.target
 
[Service]
Type=simple
# Tell systemd that this is where the PID file is
PIDFile=/run/lsyncd.pid 
ExecStart=/usr/local/bin/lsyncd -nodaemon -pidfile /run/lsyncd.pid /etc/lsyncd.lua
# Run lsyncd. Use -nodaemon to make this work better with systemd and not fork
Restart=always
# When the service dies, restart it
 
[Install]
# Install to the multi-user.target.wants
WantedBy=multi-user.target
