[client]
host = localhost
user = debian-sys-maint
password = "{{ debian_password }}"
socket = {{ socket }}
[mysql_upgrade]
host = localhost
user = debian-sys-maint
password = "{{ debian_password }}"
socket = {{ socket }}
basedir = /usr
