{% if ansible_os_family == "Debian" %}
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, RELOAD, SHUTDOWN, PROCESS, FILE, REFERENCES, INDEX, ALTER, SHOW DATABASES, SUPER, CREATE TEMPORARY TABLES, LOCK TABLES, EXECUTE, REPLICATION SLAVE, REPLICATION CLIENT ON *.* TO 'debian-sys-maint'@'localhost' IDENTIFIED BY '{{debian_password}}' WITH GRANT OPTION;
{% endif %}
# Grant replication for a slave user.
# GRANT REPLICATION SLAVE ON *.* TO 'repl'@'%' identified by '{{repl_password}}';

# Set the server root password. This should be preseeded by the package installation.
SET PASSWORD FOR 'root'@'localhost' = PASSWORD('{{mysql_password}}');

# Cleanup anonymous users and test accounts/databases (see http://dev.mysql.com/doc/refman/5.0/en/default-privileges.html)
{% if ansible_os_family == "RedHat" %}
DROP USER ''@'localhost';
DROP USER ''@'{{ansible_fqdn}}';
{% endif %}
DELETE FROM mysql.user WHERE password = '';
DELETE FROM mysql.db WHERE Db LIKE 'test%';
FLUSH PRIVILEGES;
DROP DATABASE IF EXISTS test;
